@model List<Blog>

@foreach (var item in Model)
{
    <div class="single-post mb-30">
        <div class="single-post-img">
            <a asp-action="details" asp-controller="blog" asp-route-id="@item.Id">
                <img width="100" height="100" src="~/img/blog/@item.ImageUrl" alt="post">
                <div class="blog-hover">
                    <i class="fa fa-link"></i>
                </div>
            </a>
        </div>
        <div class="single-post-content">
            <h4><a asp-action="details" asp-controller="blog" asp-route-id="@item.Id">@(item.Title.Length > 20 ? item.Title.Substring(0, 20) : item.Title)...</a></h4>
            <p>By @item.Author  /  @item.PublishDate.ToString("dd MMMM,yyyy")</p>
        </div>

    </div>
}
