@model List<Blog>

<div class="banner-area-wrapper">
    <div class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2>blog</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End -->
<!-- Blog Start -->
<div class="blog-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-blog mb-60">
                        <div class="blog-img">
                            <a a asp-action="details" asp-route-id="@item.Id"><img src="img/blog/@item.ImageUrl" alt="blog"></a>
                            <div class="blog-hover">
                                <i class="fa fa-link"></i>
                            </div>
                        </div>
                        <div class="blog-content">
                            <div class="blog-top">
                                <p>By @item.Author  /  @item.PublishDate.ToString("MMMM dd,yyyy")  /  <i class="fa fa-comments-o"></i> @item.Comments.Count</p>
                            </div>
                            <div class="blog-bottom">
                                <h2><a asp-action="details" asp-route-id="@item.Id">@item.Title</a></h2>
                                <a asp-action="details" asp-route-id="@item.Id">read more</a>
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>
        <div class="row">
            <div class="col-xs-12 row" style="display:flex;justify-content:center;">
                <div class="pagination">
                    <ul>
                        @for (int i = 1; i <= ViewBag.Pages; i++)
                        {
                            if (ViewBag.CurrentPage == i)
                            {
                                <li class="page-item text-danger">
                                    <a style="color:red;" class="text-danger">@i</a>
                                </li>
                            }
                            else
                            {
                                <li class="page-item">
                                    <a asp-action="index"asp-route-page="@i"class="page-link">@i</a>
                                </li>

                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog End -->
<!-- Subscribe Start -->
@await Component.InvokeAsync("Subscribe")
